.centraliza {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.tela-editar {
	margin: 10% 25%;
	background-color: #E0EEE0;
}

.btn-cafe {
	margin-left: 80%;
	float: right;
	height: 50px;
	font-size: 22px;
}

.btn-sorteio {
	float: right;
	height: 50px;
	font-size: 22px;
	margin-bottom: 30px;
}

.div-cafe {
	width: 100%;
	height: 40px;
	margin-bottom: 30px;
}